@media (max-width: 400px) {
  body {
    padding: 0px 0 0 0;
    font-size: 12px; }
  .title {
    font-size: 16px; }
  .content_item_paragraph {
    -ms-flex-preferred-size: 12%;
    flex-basis: 12%; }
  .to-top {
    width: 25px;
    height: 25px;
    font-size: 15px; } }
